<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>SB Admin BS4 Angular4</h1>
            <form role="form">               
    <div id="googleBtn"><a class="btn rounded-btn" href="https://gamersoc-backend.herokuapp.com/googleLogin?redirectPath=http://localhost:4200/dashboard" (click)="onLoggedin()">Log in with Google </a></div>                
            </form>
        </div>
    </div>
</div>
