<div class="row">
    <div class="col-sm-12">

        <div class="row border_post">
            <div class="col-sm-6">
                <h6 class="card-title"><a [routerLink]="['/topics',category.id]" routerLinkActive="active">{{category.title}}</a></h6>

            </div>
            <div class="col-sm-2">
                <h6 class="card-title">{{category.description}}</h6>
            </div>
            <div class="col-sm-2">
                <h6 class="card-title">9340234</h6>
            </div>
            <div class="col-sm-2">
                <p class="p_category_lastPostInfo">Re: Klub 5000 </p>
                <p class="p_category_lastPostInfo">przez Skapiradlo</p>
                <p class="p_category_lastPostInfo"> o 23:45</p>

            </div>
        </div>
    </div>
</div>